.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 30px auto 20px 30px ;
  padding:10px;
  align-items: center;
  position: relative;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:#f29183;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;

}

.card button:hover {
  opacity: 0.8;
}

.card__qty {
  display: flex;
  margin: 2px;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
